/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f7fb;
  font-family: Pretendard, sans-serif;
  color: #222;
}

/* LOGIN */

.container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px;
}

.auth-box {
  width: 100%;
  max-width: 480px;

  background: white;

  border-radius: 32px;

  padding: 50px;

  box-shadow:
    0 15px 40px rgba(0,0,0,0.12);
}

.auth-box h1 {
  text-align: center;

  font-size: 42px;

  margin-bottom: 35px;
}

.auth-form {
  display: flex;
  flex-direction: column;

  gap: 18px;
}

.auth-form input {
  width: 100%;
  height: 58px;

  border: 1px solid #ddd;
  border-radius: 16px;

  padding: 0 18px;

  font-size: 16px;

  transition: 0.3s;
}

.auth-form input:focus {
  outline: none;

  border-color: #2979ff;

  box-shadow:
    0 0 0 4px rgba(41,121,255,0.12);
}

.main-btn {
  width: 100%;
  height: 60px;

  border: none;
  border-radius: 18px;

  background: #2979ff;

  color: white;

  font-size: 18px;
}